@page
@model EgdeBookingSystem.Pages.Equipments.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Equipment.Name" class="control-label"></label>
                <input asp-for="Equipment.Name" class="form-control" />
                <span asp-validation-for="Equipment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.Info" class="control-label"></label>
                <input asp-for="Equipment.Info" class="form-control" />
                <span asp-validation-for="Equipment.Info" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Equipment.Booked" /> @Html.DisplayNameFor(model => model.Equipment.Booked)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
